.cv-body::before{
  content: var(--content, '');
  height: var(--imageHeight, 100%);
  width: var(--imageWidth, 100%);
  background-size: var(--imageSize, cover);
  z-index: var(--zIndex, 0);
  position: var(--position, absolute);
  filter: var(--filter, brightness(0.7));
  background-image: var(--backImage, url('../images/cv-background.jpg'));
}

.cv-heading{
  text-align: center;
  font-size: 3vh;
  font-size: clamp(1rem, 1rem + 4vw, 2.6rem);
}

.cv .profile-photo{
  float: left;
  position: relative;
  display: block;
  margin: 30px;
  border: 0.5px solid whitesmoke;
  max-width: 300px;
}

hr{
  width: 60%;
}

.portfolio table {
  text-align: left;
  border-spacing:  0.7rem;
  color: hsla(0, 0%, 90%);
  font-size: 1rem;
  font-size: clamp(1rem, 0.2rem + 1vw, 1.3rem);
}

.portfolio th, img {
  display: block;
  font-family: 'Merriweather', serif;
}

.portfolio table tr td img {
  border: 1.5px solid whitesmoke;
  max-width: 100%;
  max-height: 520px;
}

.cv .education h2{
  clear: left;
}

.cv .image {
  text-align: right;
  width: 40%;
  max-width: 280px;
  border-radius: 50%;
  display: block;
  margin-left: 65%;
  margin-bottom: 50px;
  border: 2px solid rgb(13,64,146);
  opacity: 0.9;
}

.qualities .qualities-list {
  display:inline-flex ;
  float: left;
  font-family: cursive;
  font-size: 2.1vh;
  font-size: clamp(1.2rem, 0.5rem + 1vw, 2rem);
}

.contact-body::before{
  content: "";
  z-index: 0;
  background: url("../images/contact_me/contact_me.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
}

.contact-wrapper {
  top: 30%;
  margin-top: 2.3rem;
  position: absolute;
  width: 100%;
  height: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-form {
  background-color: whitesmoke;
  border-radius: 5%;
  display: flex;
  flex-direction: row;
  max-width: 850px;
  padding: 55px;
}

.message,  .fields {
  width: 50%;
}

.fields input, .message textarea{
  background: transparent;
  border: 0;
  border-bottom: solid hsl(213, 62%, 23%);
  font-weight: bold;
  font-size: 2vh;
  padding: 10px;
  margin: 10px;
  width: 80%;
}

textarea {
  height: 75%;
  margin: 0;
  width: 100%;
  resize: none;
}

.btn-border {
  height: 45px;
  margin: 0 auto;
  text-align: center;
  width: 90%;
}

.send-button {
  background-color: hsl(215, 83%, 43%);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin-top: 1rem;
  padding: 11px 50px;
}

@media screen and (max-height: 800px){
  .contact-wrapper {
    position: relative;
    margin-bottom: 10rem;
  }
}

@media screen and (max-width: 635px ) {
  h2, p {
    clear: both;
  }

  hr{
    display: none;
  }

  .cv .profile-photo{
    float: none;
    margin-right: auto;
    margin-left: auto;
  }

  .contact-form {
      flex-direction: column;
      padding: 0;
      position: relative;
      top: 20%;
  }

  .contact-form input{
      width: 100%;;
      padding: 0;
      padding: 1.5vh 0;
  }

  .send-button {
    margin-left: 12.5%;
  }

  .message textarea {
      max-height: 75px;
      width: 100%;
  }

  .fields, .message  {
      width: 85%;
  }
}

@media screen and (max-width: 1100px ) {
  .cv-body {
    padding-bottom: 10vh;
    width: fit-content;
  }
}
/* Continuation after labb1 */
table td .year{
  font-weight: 900;
  padding: 14px;
  font-size: clamp(1.05rem, 0.2rem + 1vw, 1.5rem);
  white-space: nowrap;
}

.modal-container {
  z-index: -1;
  display: none;
}

.modal-container.show {
  z-index: 1;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.modal-container .modal {
  text-align: center;
  background-color: #fff;
  padding: 35px 50px;
  border-radius: 17px;
  max-width: 100%;
}
