.gaming-body::before{
    background: url("../images/gaming/background-3.jpg") ;
    width: 100%;
    height: 100%;
    margin: 0 ;
    z-index: 0;
    position: absolute;
    content: "";
    background-size: contain;
    filter: brightness(0.7);
}

.photography-body::before{
    background: url("../images/hobbies/background-1.jpg") ;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
    position: absolute;
    content: "";
    background-size: contain;
    opacity: 0.8;
    filter: brightness(0.7);
}

.dotnet-body::before{
    background: url("../images/dotnet_projects/dotnet-2.jpg") ;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 0;
    position: absolute;
    content: "";
    background-size: 500px;
    opacity: 0.9;
    filter: brightness(0.7);
}

h1 {
    color: hsl(40, 0%, 96%);
    text-shadow: 1px 2px 2px rgb(70, 26, 26);
}

h2 {
    font-size: 2.6vh;
    background-color: hsla(19, 46%, 92%, 0.4);
    display: inline-block;
    border-radius: 8px;
}

h3 {
    color: hsl(180, 84%, 41%);
    background-color: hsla(19, 46%, 92%, 0.2);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    text-shadow: 0.5px 0.5px 0.5px rgb(17, 48, 82, 0.5);
    font-weight: 800;
    font-size: 2.3vh;
    display: inline-block;
    border-radius: 8px;
}

p{
    font-size: 1.6vh;
    font-weight: 300;
    font-family: sans-serif;
}

article {
    width: 80%;
    padding: 5vh 0;
    margin: 0 10%;
    text-align: center;
}

img , video {
    padding:  0;
    margin: 3vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    max-width: 100%;
    border: 2px solid hsl(200, 84%, 31%);
    max-height: 900px;
    max-width: 75%;
}
